.tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg_9wq8{border-color:inherit;text-align:center;vertical-align:middle; height: 70px;font-weight: bold; font-size: 2rem;}
.tg .tg_9wq8_sub{border-color:inherit;text-align:center;vertical-align:middle; height: 50px;font-weight: bold; font-size: 1rem; background: #ffd591}
.tg .tg_jq7l{background-color:#ecf4ff;border-color:inherit;text-align:center;vertical-align:middle; height: 70px;font-weight: bold; font-size: 2rem;}
.tg .tg_v4ld{border-color:inherit;font-size:28px;text-align:center;vertical-align:middle}
.tg .tg_dium{background-color:#b2d2ff;border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle; height: 50px;}
.tg .tg_uzvj{border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle; height: 50px;}

.col_width1{
    width: 65px;
}