.tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg_ky08{background-color:#dae8fc;border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:20px;
    font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_n5hu{background-color:#cbcefb;border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:15px;
    font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_jfoo{border-color:inherit;font-size:15px;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_x51a{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:15px;font-weight:bold;
    text-align:center;vertical-align:middle}
.tg .tg_y4ne{background-color:#ffcc67;border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:15px;
    font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_cnwr{background-color:#ffcc67;border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_f79y{background-color:#ffccc9;border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg_coj7{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:15px;text-align:center;
    vertical-align:middle}
.tg .tg_r1gl{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:15px;text-align:left;
    vertical-align:middle}
.tg .tg_7fs8{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:20px;font-weight:bold;
    text-align:center;vertical-align:middle}
.tg .tg_hk2l{background-color:#feebea;border-color:inherit;font-size:20px;font-weight:bold;text-align:center;vertical-align:middle}
.col_width1{
    width: 30px;
}
.col_width2{
    width: 290px;
}
.col_width3{
    width: 180px;
}
.col_width4{
    width: 65px;
}
.col_width5{
    width: 70px;
}
