@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Opera */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* Internet Explorer */
body {
    -ms-overflow-style: none;
}
