@import "~react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Opera */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* Internet Explorer */
body {
    -ms-overflow-style: none;
}

@media print {
    /* 모든 요소에 적용된 'print:hidden' 클래스를 숨깁니다. */
    @page {
        margin: 7px;
    }
    .print:hidden {
        display: none !important;
    }
}

.datePickerWrapper {
    position: relative;
}

.datePicker {
    position: absolute;
    z-index: 1000;
}
